{{!--       
 <link rel="stylesheet" href="/assets/css/skins/skin-demo-4.css">
     <link rel="stylesheet" href="/assets/css/demos/demo-4.css"> --}}

	
     <body>
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="cart">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-lg-9">
	                			<table class="table table-cart table-mobile">
									<thead>
										<tr>
											<th>Product</th>
											<th>Price</th>
											<th>Quantity</th>
											<th>Total</th>
											<th></th>
										</tr>
									</thead>

									<tbody>
										{{#each cartItems}}
										<tr>
											<td class="product-col">
												<div class="product">
													<figure class="product-media">
														<a href="/product-view/{{this.product._id}}">
															<img src="/images/product/{{this.product.img.[0]}}" alt="Product image">
														</a>
													</figure>

													<h3 class="product-title">
														<a href="/product-view/{{this.product._id}}">{{this.product.ProductName}}</a>
													</h3><!-- End .product-title -->
												</div><!-- End .product -->
											</td>
											{{#if this.product.brandDiscount}}
												<td class="price-col" >₹<span id="{{this.product._id}}price">{{this.product.ProductPrice}}</span>  <br><strike class="text-danger">₹{{this.product.OriginalPrice}}</strike></td>
													
													{{else}}
													<td class="price-col" id="{{this.product._id}}price">{{this.product.ProductPrice}}</td>
													{{/if}}

											<td class="quantity-col">
                                                <div class="cart-product-quantity">
                                                    {{#if this.product.stock}}
                                                    {{!-- <input type="number" class="form-control" value="{{this.quantity}}" min="1" max="10" step="1" data-decimals="0" required> --}}
													<button class="cart-item-count bg-black text-white" style="" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)" id="{{this.product._id}}decrement">-</button>
													<span id="{{this.product._id}}">{{this.quantity}}</span>
													<button class="cart-item-count  bg-black text-white" style="" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)" id="{{this.product._id}}increment">+</button>
                                                    {{else}}
                                                    <h6 class="text-center mt-2 text-danger" >Out of Stock</h6>
                                                    {{/if}}
                                                   <div>
                                                        <h6 id="{{this.product._id}}stockMessage" class="text-danger"></h6>
                                                    </div>
                                                </div><!-- End .cart-product-quantity -->
                                            </td>
												
													<td class="total-col" id="{{this.product._id}}total">{{this.total}}</td>
												
											<td class="remove-col"><button class="btn-remove" onclick="removeProduct('{{this.product._id}}','{{this._id}}')" ><i class="icon-close"></i></button></td>

											
										</tr>
										{{/each}}
									</tbody>
								</table><!-- End .table table-wishlist -->

	                			<div class="cart-bottom">
			            			<div class="cart-discount">
			            				
                                        {{#if total}}
											{{#if totalAfterCoupon.discountedPrice}}

												<div class="input-group" id="alreadyApplied">
				        						<input type="text" name="couponCode" class="form-control" disabled  required placeholder="Coupon  applied" id="couponCode" >
				        						<div class="input-group-append">
													<button class="btn btn-outline-primary-2" type="submit" onclick="removeCoupon('{{totalAfterCoupon.couponId}}')" >Remove Coupon</button>
												</div><!-- .End .input-group-append -->
			        							</div><!-- End .input-group -->

											{{else}}

			            					<div class="input-group" id="alreadyApplied">
				        						<input type="text" name="couponCode" class="form-control" required placeholder="coupon code" id="couponCode">
				        						<div class="input-group-append">
													<button class="btn btn-outline-primary-2" type="submit" onclick="applyCoupon()"><i class="icon-long-arrow-right"></i></button>
												</div><!-- .End .input-group-append -->
			        						</div><!-- End .input-group -->
                                        
                                        	{{/if}}

										{{/if}}


										<div class="input-group" id="Applied"  style="display: none;">
				        						<input type="text" name="couponCode" class="form-control" disabled  required placeholder="Coupon  applied" id="couponCode" >
				        						<div class="input-group-append">
													<button class="btn btn-outline-primary-2" type="submit" onclick="removeCoupon('{{totalAfterCoupon.couponId}}')" >Remove Coupon</button>
												</div><!-- .End .input-group-append -->
			        					</div><!-- End .input-group -->

											

			            					<div class="input-group" id="deleted"  style="display: none;">
				        						<input type="text" name="couponCode" class="form-control" required placeholder="coupon code" id="couponCode">
				        						<div class="input-group-append">
													<button class="btn btn-outline-primary-2" type="submit" onclick="applyCoupon()"><i class="icon-long-arrow-right"></i></button>
												</div><!-- .End .input-group-append -->
			        						</div><!-- End .input-group -->
			            				
			            			</div><!-- End .cart-discount -->

			            			<a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
		            			</div><!-- End .cart-bottom -->
								{{#unless total}}
								<div class="empty-cart mb-5 text-center">
									<a href="/products"><button class="btn btn-primary"><span>Shop Now</span><i class="icon-long-arrow-right"></i></button></a>

									<img src="/images/product/cart-empty.webp" alt="" >

									
								</div>
								{{/unless}}	
								
							
							
	                		</div><!-- End .col-lg-9 -->
	                		<aside class="col-lg-3">
	                			<div class="summary summary-cart">
	                				<h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

	                				<table class="table table-summary">
	                					<tbody>

											
										
											
	                						<tr class="summary-subtotal">
	                							<td>Subtotal:</td>
	                							<td id="subtotal">{{total.totalAmount}}</td>
	                						</tr><!-- End .summary-subtotal -->
	                						<tr class="summary-shipping">
	                							<td>Shipping:</td>
	                							<td>&nbsp;</td>
	                						</tr>

	                						
										{{#if totalAfterCoupon.discountedPrice}}

	                						<tr class="summary-total">
	                							<td>Coupon Discount:</td>
	                							<td id="coupon-price">{{totalAfterCoupon.discountedPrice}}</td>
	                						</tr><!-- End .summary-total -->
										{{else}}
										<tr class="summary-total">
	                							<td>Coupon Discount:</td>
	                							<td id="coupon-price">0</td>
	             						</tr><!-- End .summary-total -->
										{{/if}}	


											{{#if totalAfterCoupon.discountedPrice}}

											<tr class="summary-total">
	                							<td>Total:</td>
	                							<td id="Grandtotal">{{totalAfterCoupon.TotalAfterDiscount}}</td>
	                						</tr><!-- End .summary-total -->

											{{else}}
	                							
											<tr class="summary-total">
	                							<td>Total:</td>
	                							<td id="Grandtotal">{{total.totalAmount}}</td>
	                						</tr><!-- End .summary-total -->
										{{/if}}
											


									

											
											
	                					</tbody>
										
	                				</table><!-- End .table table-summary -->

									{{#if total}}
	                				<a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
									{{/if}}
	                			</div><!-- End .summary -->

		            			<a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
	                		</aside><!-- End .col-lg-3 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="megamenu-container ">
                                    <a href="/userhome" class="">Home</a>
                                </li>
                                <li>
                                    <a href="/products/?page=1" class="">Products</a>
                                </li>
                                <li>
                                    <a href="/dashboard" class="" >My Account</a>
                                    {{!-- <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/myorders">Orders</a></li>
                                     <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul> --}}
                                </li>
                                
                                <li>
                                    <a href="/view-wishlist">
                                        {{#if wishlistCount}}
                                     <span class="badge bg-secondary text-white">{{wishlistCount}}</span>
                                     {{/if}}
                                    </i>My Wishlist 
                                    
                                    </a>
                                </li>
                                
                                <li>
                                    {{#if logged}}
                                    <a href="/logout" class="">Logout</a>
                                        {{else}}
                                    <a href="/login" class="">Login/Signup</a>
                                    {{/if}}
                                </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
	

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<script>


function applyCoupon(){
	
	let couponCode=document.getElementById('couponCode').value
	
	$.ajax({
		url:'/enter-coupon',
		data:{
			code:couponCode
		},
		method:'post',
		success:(response)=>{
			if(response.couponFind){
				
				if(response.expiredCoupon){
					swal("expired!", "Coupon is expired!", "error");

				}else if(response.appliedCoupon){
					swal("Already Applied!", "You already applied the coupon", "error");

				}else{
					let discountPrice=response.discountPrice
					let totalPriceAfterOffer=response.totalPriceAfterOffer
					console.log()

					swal("Success!", "Coupon applied successfully!", "success");
                    location.reload();
					document.getElementById('coupon-price').innerHTML=discountPrice
					document.getElementById('Grandtotal').innerHTML=totalPriceAfterOffer
					document.getElementById('Applied').style.display="block"
					

				
					
					
				
				}
			}else{
				swal("not found!", "Couopon not available!", "error");
				
			}
			
		}
	})

}

function removeCoupon(couponId){


	swal({
	title: "Are you sure?",
	text: "Once deleted, you will not be able to recover this imaginary file!",
	icon: "warning",
	buttons: true,
	dangerMode: true,
	})
	.then((willDelete) => {
	if (willDelete) {
		
	$.ajax({
	url:'/delete-coupon',
	data:{
		couponId:couponId
	},
	method:'post',
	success:()=>{
		swal("Poof! Your imaginary file has been deleted!", {
		  icon: "success",
		});
        location.reload();

		document.getElementById('remove-coupon').style.display="block"
	}
})
		
	} else {
		swal("Your imaginary file is safe!");
	}
	});




}







</script>



	

</body>
