<main class="main">
	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">Checkout<span>Shop</span></h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->
<section class="section">
	<div class="container">
		<div class="row align-items-top">
			
			<div class="col-lg-12">
				
                <div class="accordion " id="accordion-2" >
							   

					<div class="card" style="border: solid goldenrod;">
							<div class="card-header" id="heading-2">
							    <h2 class="card-title text-center">
							    	<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
							        Select Address 
							    	 </a>
							    </h2>
							</div><!-- End .card-header -->
						<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1" >
							
						
								<div class="container row">
								{{#each address}}
								<div class="card-body col-md-4" >
									<div >
										<p class="card-text text-black">{{this._id.customerName}}</p>
										<p class="card-text text-black">{{this._id.mobile}}</p>
										<p class="card-text text-black">{{this._id.address.HouseName}},{{this._id.address.streetName}},{{this._id.address.landmark}},</p>
								
										<p class="card-text text-black">{{this._id.address.city}},{{this._id.address.state}},{{this._id.address.pincode}}</p>

										<button class="btn btn-primary"  style="margin-left: 80px;" onclick="changeAddress('{{this._id.customerName}}','{{this._id.address.HouseName}}')">Use this address</button>
									</div>
								</div><!-- End .card-body -->
								{{/each}}
								</div>

							
						</div><!-- End .collapse -->
					</div><!-- End .card -->		   
				</div><!-- End .accordion -->
			</div>
			
		</div>
	</div>	
</section>









            

	<div class="page-content">
		<div class="checkout">
			<div class="container">
				<div class="checkout-discount">
					<form action="#">
						<input type="text" class="form-control" required id="checkout-discount-input">
						<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to
								enter your code</span></label>
					</form>
				</div><!-- End .checkout-discount -->
				<form id="checkoutform">
					<div class="row">
						<div class="col-lg-9">
							<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
							<div class="row">
								<div class="col-sm-6">
									<label>Full Name *</label>
									<input type="text" class="form-control" value="{{user.name}}" name="fullName" id="fullname"
										required>
								</div><!-- End .col-sm-6 -->

								{{!-- <div class="col-sm-6">
									<label>Last Name *</label>
									<input type="text" class="form-control" required>
								</div><!-- End .col-sm-6 --> --}}
							</div><!-- End .row -->
							<input type="text" name="userId" value="{{user._id}}" hidden>
							<label>Address</label>
							<input type="text" class="form-control" name="address" id="address">
							<input type="text" name="orderStatus" value="order placed" hidden>




							<label>Street address *</label>
							<input type="text" class="form-control" placeholder="Street name" name="streetName" id="streetname"
								required>
							<input type="text" class="form-control" placeholder="Landmark" name="landmark" id="landmark" required>

							<div class="row">
								<div class="col-sm-6">
									<label>Town / City *</label>
									<input type="text" class="form-control" name="city" id="city" required>
								</div><!-- End .col-sm-6 -->

								<div class="col-sm-6">
									<label>State*</label>
									<input type="text" class="form-control" name="state" id="state" required>
								</div><!-- End .col-sm-6 -->
							</div><!-- End .row -->

							<div class="row">
								<div class="col-sm-6">
									<label>Postcode / ZIP *</label>
									<input type="text" class="form-control" name="pincode" id="pincode" required>
								</div><!-- End .col-sm-6 -->

								<div class="col-sm-6">
									<label>Phone *</label>
									<input type="tel" class="form-control"  value="{{user.number}}" name="number" id="number"
										required>
								</div><!-- End .col-sm-6 -->
							</div><!-- End .row -->

							<label>Email address *</label>
							<input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>

							<div class="custom-control custom-checkbox">
								  <button type="reset" class="btn btn-secondary">Reset</button>
							</div><!-- End .custom-checkbox -->

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="checkout-diff-address">
								<label class="custom-control-label" for="checkout-diff-address">Ship to a different
									address?</label>
							</div><!-- End .custom-checkbox -->

							<label>Order notes (optional)</label>
							<textarea class="form-control" cols="30" rows="4"
								placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
						</div><!-- End .col-lg-9 -->
						<aside class="col-lg-3">
							<div class="summary">
								<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody>
										{{#each cartItems}}
										<tr>

											<td><a href="#">{{this.product.ProductName}}({{this.quantity}})</a></td>
											<td>₹{{this.total}}</td>
											{{/each}}
										</tr>

										{{!-- <tr>
											<td><a href="#">Blue utility pinafore denimdress</a></td>
											<td>$76,00</td>
										</tr> --}}

										<tr class="summary-subtotal">
											<td>Subtotal:</td>
											<td>₹{{totalAmount}}</td>
										</tr><!-- End .summary-subtotal -->
										<tr>
											<td>Shipping:</td>
											<td>Free shipping</td>
										</tr>

										{{#if couponOffer.TotalAfterDiscount}}
										<tr class="summary-total">
											<td>Coupon Offer:</td>
											<td>₹{{couponOffer.discountedPrice}}</td>
										</tr><!-- End .summary-total -->
										{{else}}
										<tr class="summary-total">
											<td>Coupon Offer:</td>
											<td>0</td>
										</tr><!-- End .summary-total -->
										{{/if}}


										{{#if couponOffer.TotalAfterDiscount}}
										<tr class="summary-total">
											<td>Total:</td>
											<td>₹{{couponOffer.TotalAfterDiscount}}</td>
										</tr><!-- End .summary-total -->
										{{else}}
										<tr class="summary-total">
											<td>Total:</td>
											<td>₹{{totalAmount}}</td>
										</tr><!-- End .summary-total -->
										{{/if}}
									</tbody>

								</table><!-- End .table table-summary -->

								<div class="accordion-summary" id="accordion-payment">
									{{!-- <div class="card">
										<div class="card-header mt-1" id="heading-1">
											<label class="card-title">


												<input type="radio" style="btn" name="payment-method" value="COD" id=""
													class="collapsed" role="button" data-toggle="collapse"
													aria-expanded="false" aria-controls="collapse-3">Cash on delivery
											</label>

										</div><!-- End .card-header -->

									</div><!-- End .card -->

									<div class="card">
										<div class="card-header mt-1" id="heading-2">
											<label class="card-title">


												<input type="radio" name="payment-method" value="COD" id=""
													class="collapsed" role="button" data-toggle="collapse"
													aria-expanded="false" aria-controls="collapse-3">Cash on delivery
											</label>
										</div><!-- End .card-header -->

									</div><!-- End .card -->

									<div class="card">
										<div class="card-header mt-1" id="heading-3">
											<label class="card-title">


												<input type="radio" name="payment-method" value="COD" id=""
													class="collapsed" role="button" data-toggle="collapse"
													aria-expanded="false" aria-controls="collapse-3">Cash on delivery
											</label>
										</div><!-- End .card-header -->

									</div><!-- End .card --> --}}

									<div class="card">
										<div class="card-header mt-1" id="heading-4">
											<label class="card-title">


												<input type="radio" name="paymentmethod" value="COD" id=""
													class="collapsed" role="button" data-toggle="collapse"
													aria-expanded="false" aria-controls="collapse-3" onclick="changeErrorMssgElement()">Cash on delivery
											</label>
										</div><!-- End .card-header -->

									</div><!-- End .card -->

									<div class="card">
										<div class="card-header mt-1" id="heading-4">
											<label class="card-title">


												<input type="radio" name="paymentmethod" value="wallet" id=""
													class="collapsed" role="button" data-toggle="collapse"
													aria-expanded="false" aria-controls="collapse-3" onclick="checkWalletFund()">use Wallet
											</label>

											<span id="balanceMessage" class="text-danger text-center" style="display: none;">insufficient balance in wallet</span>
											
										</div><!-- End .card-header -->

									</div><!-- End .card -->

									<div class="card">
										<div class="card-header mt-1" id="heading-5">
											<label class="card-title">


												<input type="radio" name="paymentmethod" value="Online" id=""
													class="collapsed" role="button" data-toggle="collapse"
													aria-expanded="false" aria-controls="collapse-3" onclick="changeErrorMssgElement()">Online payment
												{{!-- <img src="assets/images/payments-summary.png" alt="payments cards"
													class="mt-1"> --}}
											</label>
										</div><!-- End .card-header -->

									</div><!-- End .card -->
									
									<div class="card">
										<div class="card-header mt-1" id="heading-5">
											<label class="card-title">


												<input type="radio" name="paymentmethod" value="paypal" id=""
													class="collapsed" role="button" data-toggle="collapse"
													aria-expanded="false" aria-controls="collapse-3" onclick="changeErrorMssgElement()">Use Paypal
												{{!-- <img src="assets/images/payments-summary.png" alt="payments cards"
													class="mt-1"> --}}
											</label>
										</div><!-- End .card-header -->

									</div><!-- End .card -->
								</div><!-- End .accordion -->

								<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" id="checkoutProceed">
									<span class="btn-text">Place Order</span>
									<span class="btn-hover-text">Proceed to Checkout</span>
								</button>
							</div><!-- End .summary -->
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</form>
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->


</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
	<div class="mobile-menu-wrapper">
		<span class="mobile-menu-close"><i class="icon-close"></i></span>

		<form action="#" method="get" class="mobile-search">
			<label for="mobile-search" class="sr-only">Search</label>
			<input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
				required>
			<button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
		</form>

		<nav class="mobile-nav">
			<ul class="mobile-menu">
				<li class="active">
					<a href="/userhome" class="">Home</a>
				</li>
				<li>
					<a href="/products" class="">Products</a>
				</li>
				<li>
					<a href="" class="">My Accont</a>

					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/myorders">Orders</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Pages</a>
				</li>
				<li>
				<li><a href="/view-wishlist"><i class="icon-heart-o"></i>My Wishlist</a></li>
				</li>
			</ul>
		</nav><!-- End .mobile-nav -->

		<div class="social-icons">
			<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
			<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
			<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
			<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
		</div><!-- End .social-icons -->
	</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="icon-close"></i></span>
				</button>

				<div class="form-box">
					<div class="form-tab">
						<ul class="nav nav-pills nav-fill" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
									aria-controls="signin" aria-selected="true">Sign In</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
									aria-controls="register" aria-selected="false">Register</a>
							</li>
						</ul>
						<div class="tab-content" id="tab-content-5">
							<div class="tab-pane fade show active" id="signin" role="tabpanel"
								aria-labelledby="signin-tab">
								<form action="#">
									<div class="form-group">
										<label for="singin-email">Username or email address *</label>
										<input type="text" class="form-control" id="singin-email" name="singin-email"
											required>
									</div><!-- End .form-group -->

									<div class="form-group">
										<label for="singin-password">Password *</label>
										<input type="password" class="form-control" id="singin-password"
											name="singin-password" required>
									</div><!-- End .form-group -->

									<div class="form-footer">
										<button type="submit" class="btn btn-outline-primary-2">
											<span>LOG IN</span>
											<i class="icon-long-arrow-right"></i>
										</button>

										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="signin-remember">
											<label class="custom-control-label" for="signin-remember">Remember
												Me</label>
										</div><!-- End .custom-checkbox -->

										<a href="#" class="forgot-link">Forgot Your Password?</a>
									</div><!-- End .form-footer -->
								</form>
								<div class="form-choice">
									<p class="text-center">or sign in with</p>
									<div class="row">
										<div class="col-sm-6">
											<a href="#" class="btn btn-login btn-g">
												<i class="icon-google"></i>
												Login With Google
											</a>
										</div><!-- End .col-6 -->
										<div class="col-sm-6">
											<a href="#" class="btn btn-login btn-f">
												<i class="icon-facebook-f"></i>
												Login With Facebook
											</a>
										</div><!-- End .col-6 -->
									</div><!-- End .row -->
								</div><!-- End .form-choice -->
							</div><!-- .End .tab-pane -->
							<div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
								{{!-- <form action="#">
									<div class="form-group">
										<label for="register-email">Your email address *</label>
										<input type="email" class="form-control" id="register-email"
											name="register-email" required>
									</div><!-- End .form-group -->

									<div class="form-group">
										<label for="register-password">Password *</label>
										<input type="password" class="form-control" id="register-password"
											name="register-password" required>
									</div><!-- End .form-group -->

									<div class="form-footer">
										<button type="submit" class="btn btn-outline-primary-2">
											<span>SIGN UP</span>
											<i class="icon-long-arrow-right"></i>
										</button>

										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="register-policy"
												required>
											<label class="custom-control-label" for="register-policy">I agree to the <a
													href="#">privacy policy</a> *</label>
										</div><!-- End .custom-checkbox -->
									</div><!-- End .form-footer -->
								</form> --}}
								<div class="form-choice">
									<p class="text-center">or sign in with</p>
									<div class="row">
										<div class="col-sm-6">
											<a href="#" class="btn btn-login btn-g">
												<i class="icon-google"></i>
												Login With Google
											</a>
										</div><!-- End .col-6 -->
										<div class="col-sm-6">
											<a href="#" class="btn btn-login  btn-f">
												<i class="icon-facebook-f"></i>
												Login With Facebook
											</a>
										</div><!-- End .col-6 -->
									</div><!-- End .row -->
								</div><!-- End .form-choice -->
							</div><!-- .End .tab-pane -->
						</div><!-- End .tab-content -->
					</div><!-- End .form-tab -->
				</div><!-- End .form-box -->
			</div><!-- End .modal-body -->
		</div><!-- End .modal-content -->
	</div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<script>


 $("#checkoutform").submit((e)=>{
			
            e.preventDefault()
            $.ajax({
                url:'/place-order',
                method:'post',
                data:$('#checkoutform').serialize(),
                success:(response)=>{
                    alert(response)
                    if(response.codSuccess){
                        location.href='/order-success'
                    }else if(response.walletSuccess){
						location.href='/order-success'
					}
					else if(response.razorpay){
						alert("You are redirected to Razorpay")
						razorpayPayment(response.response)
					}else{
						
						getPaypal(response.orderId)
					}
                    
                }
            })
        })

		function razorpayPayment(order){
			var options = {
					"key": "rzp_test_ce3llX9faSP5VO", // Enter the Key ID generated from the Dashboard
					"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
					"currency": "INR",
					"name": "MobMania",
					"description": "Test Transaction",
					"image": "https://t4.ftcdn.net/jpg/03/75/38/73/360_F_375387396_wSJM4Zm0kIRoG7Ej8rmkXot9gN69H4u4.jpg",
					"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
					"handler": function (response){
						

						verifyPayment(response,order)
					},
					"prefill": {
						"name": "Gaurav Kumar",
						"email": "gaurav.kumar@example.com",
						"contact": "9999999999"
					},
					"notes": {
						"address": "Razorpay Corporate Office"
					},
					"theme": {
						"color": "#3399cc"
					}
				};
				var rzp1 = new Razorpay(options);
				rzp1.open();

		}

		function verifyPayment(payment,order){
			console.log(payment)
			$.ajax({
				url:'/verify-payment',
				data:{
					payment,
					order
				},
				method:'post',
				success:(response)=>{
					if(response.status){
						$.ajax({
							url:'/order-after-online',
							data:{
								order
							},
							method:'post',
							success:(response)=>{
							
							location.href='/order-success'
						}
						})
						
					}else{
						alert("payment failed")
					}
				}
			})
		}


	function getPaypal(orderId){
			console.log(orderId,"paypal function")
			$.ajax({
				url:'/pay',
				data:{
					orderId:orderId
				},
				method:'post',
				success:(response)=>{
					alert("gdffgdfgfdgdfgdfgfg")
					location.href=response
				}
			})
		}

	function checkWalletFund(){
		
		$.ajax({
			url:'/walletCheck',
			method:'post',
			success:(response)=>{
				if(!response.walletExist){
					 
					document.getElementById('balanceMessage').style.display = "block"
					document.getElementById('checkoutProceed').style.display = "none"
					
				}else{
					
				}
			}
		})
	}

	function changeErrorMssgElement(){
		document.getElementById('balanceMessage').style.display = "none"
		document.getElementById('checkoutProceed').style.display = "block"
	}

	 

		</script>