<!DOCTYPE html>
<html lang="en">


<!-- molla/index-7.html  22 Nov 2019 09:56:39 GMT -->
<head> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">




       <link rel="stylesheet" href="assets/css/skins/skin-demo-7.css">
     <link rel="stylesheet" href="assets/css/demos/demo-7.css">

</head> 
<style>
 .wishlistButton{ background-color: transparent;border:solid white 1px;border-radius: 100px } .heartIcon{ color: white; } .heartIcon:hover{ color: red }
</style>
<body>
    <div class="page-wrapper"> 
        <main class="main">
            <div class="container-fluid " >  
                <div class="row">
                    {{#each banner}}
                    <div class="col-lg-6">
                        <div class="banner banner-big banner-overlay">
                            <a href="#">
                                <img src="/images/product/{{this.img.[0]}}" alt="Banner" style="height: 400px;">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-subtitle text-black"><a href="#">{{this.discription1}}</a></h3><!-- End .banner-subtitle -->
                                <h2 class="banner-title text-text-black"><a href="#">{{this.discription2}}</a></h2><!-- End .banner-title -->
                                <a href="#" class="btn underline"><span>Discover Now</span></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-6 -->

                    {{!-- <div class="col-lg-6">
                        <div class="banner banner-big banner-overlay">
                            <a href="#">
                                <img src="assets/images/demos/demo-7/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-subtitle text-white"><a href="#">New Collection</a></h3><!-- End .banner-subtitle -->
                                <h2 class="banner-title text-white"><a href="#">Shop Men's</a></h2><!-- End .banner-title -->
                                <a href="#" class="btn underline"><span>Discover Now</span></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-6 --> --}}
                    {{/each}}
                </div><!-- End .row -->
                <div class="row justify-content-center mt-2" >
                    <div class="col-md-6 col-lg-4">
                        <div class="banner banner-overlay text-white">
                            <a href="#">
                                <img src="https://assets.mspimages.in/wp-content/uploads/2021/05/Realme-4.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-right " style="margin-right: 250px;">
                                <h4 class="banner-subtitle text-black"><a href="#">Realme X Series</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-black"><a href="#">Explore<br>sale -40% off</a></h3><!-- End .banner-title -->
                                <a href="#" class="btn underline btn-outline-white-3 banner-link text-black">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->

                    <div class="col-md-6 col-lg-4 " >
                        <div class="banner banner-overlay color-grey">
                            <a href="#">
                                <img src="https://static.tnn.in/thumb/msid-93366226,imgsize-100,width-1280,height-720,resizemode-75/93366226.jpg" alt="Banner" style="height: 255px;">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-black"><a href="#">XIOMI</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-black"><a href="#">GREAT FREEDOM FESTIVAL<br>up to 50% off</a></h3><!-- End .banner-title -->
                                <a href="#" class="btn underline banner-link text-black">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->

                    <div class="col-md-6 col-lg-4">
                        <div class="banner banner-overlay text-white">
                            <a href="#">
                                <img src="https://image01.realme.net/general/20220808/1659951886997.png" alt="Banner" style="height: 255px; width: 300px;">
                            </a>

                            <div class="banner-content banner-content-right mr">
                                <h4 class="banner-subtitle text-black"><a href="">New in</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-black"><a href="#">Realme<br>9</a></h3><!-- End .banner-title -->
                                <a href="#" class="btn underline btn-outline-white-3 banner-link text-black">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container-fluid -->

                <div class="cat-block-container" >
                    <div class="row   mt-5" style="margin-left: px;">
                        
                        {{#each brand}}
            
                        <div class="col-6 col-sm-4 col-lg-2">
                            
                                
                                    
                                     <a href="/product-view-category/{{this._id}}" class="cat-block">   <img src="/images/product/{{this.img.[0]}}" alt="Category image" style="height: 100px; width: 100px;"></a>
                                    
                                

                                {{!-- <h3 class="cat-block-title">{{this.brandname}}</h3><!-- End .cat-block-title --> --}}
                            
                        </div><!-- End .col-sm-4 col-lg-2 -->


                        {{/each}}
                    </div><!-- End .row -->
                </div><!-- End .cat-blocks-container -->

            <div class="bg-light-2 pt-6 pb-6 featured container">
                <div class="container-fluid">
                    <div class="heading heading-center mb-3">
                        <h2 class="title text-danger">FEATURED PRODUCTS</h2><!-- End .title -->

                       
                    </div><!-- End .heading -->

                    <div class="tab-content tab-content-carousel">
                        <div class="tab-pane p-0 fade show active" id="featured-women-tab" role="tabpanel" aria-labelledby="featured-women-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>

                                {{#each products}}
                                <div class="product product-7 text-center " >
                                    <figure class="product-media "  style="height: 300px; width: 300px;!important">
                                        <a href="/product-view/{{this._id}}" onclick="recentlyViewed('{{this._id}}')" class="p-5">
                                            <img src="/images/product/{{this.img.[0]}}" alt="Product image" class="product-image"  style="height: 200px; width: 200px;!important">
                                            {{!-- <img src="/images/product/{{this.img.[1]}}" alt="Product image" class="product-image-hover" style="height: 150px; width: 150px;!important"> --}}
                                        </a>

                                        <div class="product-action-vertical">
                                            {{!-- <button  onclick="addToWishlist('{{this._id}}')"  class="btn-product-icon btn-wishlist btn-expandable"></button> --}}
                                            {{#wishlistHeartIcon this._id ../wishlistProducts}}
											<button id="wishlistButton{{this._id}}" class="wishlistButton" onclick="addToWishlist('{{../this._id}}')"><i class="fa fa-heart heartIcon"  id="heartIcon{{../this._id}}" style="color:rgb(0, 115, 255);" aria-hidden="true"></i></button>

											

											{{else}}

											<button id="wishlistButton{{../this._id}}" class="wishlistButton"  onclick="addToWishlist('{{../this._id}}')"><i class="fa fa-heart-o heartIcon" style="color:grey!important; "  id="heartIcon{{../this._id}}"  aria-hidden="true"></i></button>


											
											{{/wishlistHeartIcon}}
                                            {{!-- <a href="/product-view/{{this._id}}" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> --}}
                                        </div><!-- End .product-action-vertical -->
                                    {{#if this.stock}}
                                        <div class="product-action">
                                            {{#goToCart this._id ../user._id ../cartData}}
												
												        <a href="/cart" class="btn-product btn-cart"><span>Go to cart</span></a>

                                                        {{else}}

												         <a href="/addToCart/{{../this._id}}" class="btn-product btn-cart"><span>Add to cart</span></a>

												      {{/goToCart}}
                                        </div><!-- End .product-action -->
                                        {{else}}
                                        <div class="product-action">
                                            <button class="btn-product btn-cart" style="border: none;"><span>Out of stock</span></button>
                                        </div><!-- End .product-action -->
                                        {{/if}}
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="/product-view/{{this._id}}">{{this.ProductName}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                           {{#if this.brandDiscount}}

													 <div class="product-price">
                                                    <h5 class="product-price">₹ {{this.ProductPrice}}</h5>
													 &nbsp&nbsp&nbsp <h6 class="text-danger product-price"><strike>₹ {{this.OriginalPrice}}</strike></h6>
													  &nbsp&nbsp&nbsp&nbsp <h6 class="text-success product-price">{{this.DiscountPercentage}}% Off</h6>
                                                	</div><!-- End .product-price -->
													{{else}}
                                                		<div class="product-price">
                                                    		₹ {{this.ProductPrice}}
                                               			 </div><!-- End .product-price -->
										{{/if}}	
                                        </div><!-- End .product-price -->
                                        
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                            {{/each}}
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                        
                    </div><!-- End .tab-content -->
                </div><!-- End .container-fluid -->
            </div><!-- End .bg-light-2 pt-4 pb-4 -->

            <div class="mb-6"></div><!-- End .mb-6 -->
        {{#if recentlyViewed}}
            <div class="container-fluid">
                <div class="heading heading-center mb-3">
                    <h2 class="title text-danger">RECENTLY VIEWED</h2><!-- End .title -->

                    
                </div><!-- End .heading -->

                    <div class="tab-content tab-content-carousel">
                        <div class="tab-pane p-0 fade show active" id="featured-women-tab" role="tabpanel" aria-labelledby="featured-women-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>

                                {{#each recentlyViewed}}
                                <div class="product product-7 text-center " >
                                    <figure class="product-media "  style="height: 300px; width: 300px;!important">
                                        <a href="/product-view/{{this.product._id}}" class="p-5">
                                            <img src="/images/product/{{this.product.img.[0]}}" alt="Product image" class="product-image"  style="height: 200px; width: 200px;!important">
                                            {{!-- <img src="/images/product/{{this.img.[1]}}" alt="Product image" class="product-image-hover" style="height: 150px; width: 150px;!important"> --}}
                                        </a>

                                        <div class="product-action-vertical">
                                            <button  onclick="addToWishlist('{{this.product._id}}')"  class="btn-product-icon btn-wishlist btn-expandable"></button>
                                            <a href="/product-view/{{this.product._id}}" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        </div><!-- End .product-action-vertical -->
                                    {{#if this.product.stock}}
                                        <div class="product-action">
                                           {{#goToCart this.product._id ../user._id ../cartData}}
												
												        <a href="/cart" class="btn-product btn-cart"><span>Go to cart</span></a>

                                                        {{else}}

												         <a href="/addToCart/{{../this.product._id}}" class="btn-product btn-cart"><span>Add to cart</span></a>

												      {{/goToCart}}
                                        </div><!-- End .product-action -->
                                        {{else}}
                                        <div class="product-action">
                                            <button class="btn-product btn-cart" style="border: none;"><span>Out of stock</span></button>
                                        </div><!-- End .product-action -->
                                        {{/if}}
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="/product-view/{{this.product._id}}">{{this.product.ProductName}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                          {{#if this.product.brandDiscount}}

													 <div class="product-price">
                                                    <h5 class="product-price">₹ {{this.product.ProductPrice}}</h5>
													 &nbsp&nbsp&nbsp <h6 class="text-danger product-price"><strike>₹ {{this.product.OriginalPrice}}</strike></h6>
													  &nbsp&nbsp&nbsp&nbsp <h6 class="text-success product-price">{{this.product.DiscountPercentage}}% Off</h6>
                                                	</div><!-- End .product-price -->
													{{else}}
                                                		<div class="product-price">
                                                    		₹ {{this.product.ProductPrice}}
                                               			 </div><!-- End .product-price -->
										{{/if}}	
                                        </div><!-- End .product-price -->
                                        
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                            {{/each}}
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                        
                    </div><!-- End .tab-content -->

                <div class="more-container text-center mt-2">
                    <a href="#" class="btn btn-outline-dark-3 btn-more"><span>Load more</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .more-container -->

                <hr class="mt-0 mb-6">
                

            </div><!-- End .container-fluid -->

        {{/if}}

            <div class="brands-border owl-carousel owl-simple" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 0,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        },
                        "1360": {
                            "items":7
                        }
                    }
                }'>
                
            </div><!-- End .owl-carousel -->
        </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/userhome" class="">Home</a>
                    </li>
                    <li>
                        <a href="/products" class="">Products</a>
                    </li>
                    <li>
                       <a href="" class="">My Accont</a>
						
                    		<ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/myorders">Orders</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="">Pages</a>
                    </li>
                    <li>
                        <li><a href="/view-wishlist"><i class="icon-heart-o"></i>My Wishlist</a></li>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->


    <!-- Plugins JS File -->
     {{!-- <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.plugin.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/demos/demo-7.js"></script> --}}
</body>



</html>