       
   <script src="/javascripts/ajax.js"></script>     
       
       
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Orders<span>MobMania</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th>Product</th>
                                
								<th>Product Price</th>
                               
								
								<th>Quantity</th>
                                <th>Status</th>
                                <th>Actions</th>
								
							</tr>
						</thead>

						<tbody>
                            {{#each orders}}
							<tr class="">
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											<a href="/product-view/{{this.product._id}}">
												<img src="/images/product/{{this.product.img.[0]}}" alt="Product image">
											</a>
										</figure>

										<h3 class="product-title">
                                            
											<a href="/product-view/{{this.product._id}}">{{this.product.ProductName}}</a>
										</h3><!-- End .product-title -->
									</div><!-- End .product -->
								</td>
								<td class="price-col">₹{{this.totalAmount}}</td>
                                {{!-- <td>{{this.deliveryDetails.address.HouseName}},{{this.deliveryDetails.address.streetName}},{{this.deliveryDetails.address.pincode}},{{this.deliveryDetails.address.state}} --}}
								
								<td class="action-col">{{this.quantity}}</td>
                               
                            {{#if this.cancelled}}
								 <td class="stock-col"><span class="in-stock text-danger"  id="orderstatus">{{this.status}}</span></td>

                                <td class="remove-col " ><button class="btn-remove text-black btn disabled" id="{{this.product._id}}cancelbtn" onclick="userCancelOrder('{{this._id}}','{{this.product._id}}','{{this.quantity}}')"> Cancel<i class="icon-close"></i></button></td>
                                {{else}}
                                 {{#if this.Delivered}}
                                
                                    <td class="stock-col"><span class="in-stock" id="orderstatus">{{this.status}}</span></td>

                                    {{!-- <td class="" ><button  data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn-remove text-black" id="{{this.product._id}}cancelbtn" > Return</button></td> --}}

                                       <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        Return
                                        </button></td>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Return Item</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card mb-3">
                                                    <div class="row g-0">
                                                    <div class="col-md-4">
                                                        <img src="/images/product/{{this.product.img.[0]}}" height="80px" width="70px" class="img-fluid rounded-start m-5"  alt="...">
                                                        
                                                    </div>
                                                    <div class="col-md-6 mt-3">
                                                        
                                                        
                                                            <h6> {{this.product.ProductName}}</h6>
                                                            <h6>{{this.totalAmount}}</h6>
                                                            <hr size="8" width="100%" color="black">  

                                                            <h5 class="mt-5">Select you complaint</h5>

                                                            <form action="/return-order" method="post" id="return-order" >

                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="complaint" id="flexRadioDefault1" value=" Any damage on the product">
                                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                                        Any damage on the product
                                                                    </label>
                                                                </div>

                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="complaint" id="flexRadioDefault2" value="Packing is not proper" checked>
                                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                                       Packing is not proper
                                                                    </label>
                                                                </div>

                                                                 <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="complaint" value=" Not like the product" id="flexRadioDefault2" checked>
                                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                                         Not like the product
                                                                    </label>
                                                                </div>

                                                                 <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="complaint" value=" Other reasons" id="flexRadioDefault2" checked>
                                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                                        Other reasons
                                                                    </label>
                                                                </div>

                                                                <input type="text" name="status" value="Return-requested" hidden>
                                                                 <input type="text" name="orderId" value="{{this._id}}" hidden>
                                                                  <input type="text" name="proId" value="{{this.product._id}}" hidden>
                                                                  <input type="text" name="Date" value="{{this.date}}" hidden>


                                                                <div class="form-group mt-3" >
                                                                    <label for="description" ><h6>Description</h6></label>
                                                                    <textarea class="form-control validate" rows="3" name="Discription" id="Discription"   onkeyup="validateProductDescription()"></textarea>
                                                                    <span id="productdescription" class="text-danger"></span>
                                                                </div> 

                                                                 <button type="submit" class="btn btn-secondary" >Submit</button>
                                                            </form>
                                                            
                                                        
                                                    </div>
                                                    </div>
                                                </div><!-- End Card with an image on left -->
                                            </div>
                                            <div class="modal-footer">
                                                {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button> --}}
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                        
                                    {{else}}
                                        {{#if this.returnOrder}}
                                        <td class="stock-col"><span class="in-stock" id="orderstatus">{{this.status}}</span></td>

                                        <td> <button type="button" class="btn btn-primary disabled" data-toggle="modal" data-target="#exampleModal">
                                        Return
                                        </button></td>

                                    {{else}}
                                        {{#if this.refunded}}
                                        <td class="stock-col"><span class="in-stock" id="orderstatus">{{this.status}}</span></td>

                                        <td> <a href="/view-wallet"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        View Wallet
                                        </button></a></td>

                                    {{else}}
                                        <td class="stock-col"><span class="in-stock " id="orderstatus">{{this.status}}</span></td>

                                        
                                        <td class="remove-col" ><button class="btn-remove text-black" id="cancelbtn" onclick="userCancelOrder('{{this._id}}','{{this.product._id}}','{{this.quantity}}')"> Cancel<i class="icon-close"></i></button></td>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                           {{/if}}
 
							</tr>
                        {{/each}}
						</tbody>
					</table><!-- End .table table-wishlist -->
	            	<div class="wishlist-share">
	            		<div class="social-icons social-icons-sm mb-2">
	            			<label class="social-label">Share on:</label>
	    					<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	    					<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
	    					<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
	    					<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
	    					<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
	    				</div><!-- End .soial-icons -->
	            	</div><!-- End .wishlist-share -->


                      

                        <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Manage Address</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body" style="justify-content: flex-start;">
                                        {{#each address}}
                                        <span id="{{this._id.address.HouseName}}address">
                                        <div class="card-body col-md-12 "  >
                                            
                                            <div class="row" style="align-items: flex-end;" >
                                                
                                                <p class="card-text">{{this._id.customerName}}</p>
                                                <p class="card-text">{{this._id.mobile}}</p>
                                                <p class="card-text">{{this._id.address.HouseName}},{{this._id.address.streetName}},{{this._id.address.landmark}},</p>
                                        
                                                <p class="card-text">{{this._id.address.city}},{{this._id.address.state}},{{this._id.address.pincode}}</p>


                                            </div>
                                            <button class="btn btn-primary" onclick="deleteAddress('{{this._id.customerName}}','{{this._id.address.HouseName}}')">Delete</button><hr>
                                        </div><!-- End .card-body -->
                                        </span>
                                        {{/each}}

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" >Understood</button>
                            </div>
                            </div>
                        </div>
                    </div>


            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                
                    <li class="active">
                        <a href="/userhome" class="">Home</a>
                    </li>
                    <li>
                        <a href="/products" class="">Products</a>
                    </li>
                    <li>
                        <a href="" class="">My Accont</a>
						
                    		<ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/myorders">Orders</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <li><a href="/view-wishlist"><i class="icon-heart-o"></i>My Wishlist</a></li>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

     
    